{% extends 'base.html.twig' %}

{% block body %}
<p class="text-justify">L’association à été crée le 13/07/2018 et son numéro de publication au Journal Officiel est ######## Vous pouvez directement contacter le bureau de l’association sur la page contact.</p>
<p class="text-justify">L'association poursuit ses buts à travers quatre actions :</p>
<ul>
    <li class="text-justify">Fédérer les joueurs, spectateurs et organisations actives dans l’esport de Paris et d’Île-de-France. Offrir une interface entre ceux-ci et les institutions publiques.</li>
    <li class="text-justify">Responsabiliser et éduquer : Sensibiliser par un usage du jeu responsable et une éthique esportive empreinte de respect. Lutter contre forme de stigmatisation et marginalisation.</li>
    <li class="text-justify">Former : Encourager les expériences associatives et suivre les formations des encadrants.</li>
    <li class="text-justify">Organiser et soutenir les événements.</li>
</ul>

<ul class="features">
    <li>
        <span class="icon major style1 fa-code"></span>
        <h3>Ipsum consequat</h3>
        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
    </li>
    <li>
        <span class="icon major style3 fa-copy"></span>
        <h3>Amed sed feugiat</h3>
        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
    </li>
    <li>
        <span class="icon major style5 fa-diamond"></span>
        <h3>Dolor nullam</h3>
        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
    </li>
</ul>
{% endblock %}