{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="sr-only">Accueil</h1>
        <h2>Présentation et objectifs de l'association</h2>
        <p class="text-justify">
            Paris Esports est une association qui regroupe les organisations esportives locales et les joueurs. Son objectif est de fédérer l'écosystème local autour de la <b>structuration de l’esport amateur en Île-de-France.</b>
        </p>
        <p class="text-justify">
              Créer à l’échelle locale une organisation fédératrice en amenant les organisations esportives à travailler ensemble pour établir un interlocuteur légitime et représentatif auprès des institutions locales.
         </p>
    </div>
</div>
{% endblock %}