{% extends 'base.html.twig' %}

{% block title %}Adhésion - {{ parent() }}{% endblock %}

{% block body %}
<p class="text-justify">
    L’association ouvrira ses inscriptions aux joueurs de Paris et d'Île-de-France en <b>Janvier 2019</b>.<br><br>
    Vous êtes un acteurs de l’esport local et vous désirez adhérer en tant que promoteur ou souhaitez en savoir plus avant cette date ? <a href="{{ path('app_app_contact') }}">Contactez-nous</a> !<br><br>
    L’inscription à l’association sera uniquement possible si vous résidez en Île -de-France.
</p>

Les départements concernés :
<ul>
    <li>La ville de Paris (75)</li>
    <li>La Seine-et-Marne (77)</li>
    <li>Les Yvelines (78)</li>
    <li>L'Essonne (91)</li>
    <li>Les Hauts-de-Seine (92)</li>
    <li>La Seine-Saint-Denis (93)</li>
    <li>Le Val-de-Marne (94)</li>
    <li>Le Val-d'Oise (95)</li>
</ul>

{% endblock %}