{% extends 'base.html.twig' %}

{% block title %}Ressources - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Tutoriel(s)</h2>

    <p class="text-justify">Créer une association (en cours de finalisation)</p>
{% endblock %}